html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;	
}

.mediaPlayer {
  display: flex;
  height: 40px;
  min-height: 50px;
  background-color: #0080FF;
  border-radius: 8px;	
}

.btn {
  font-family: 'Arial', sans-serif;
  Color: White;
  font-size: 8px;
  Text-align: center;
  text-decoration-style: bold;
  background-color: #1034A6;
  border: none;
  border-radius:5px;
  height: 25px;
  margin-top: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.btnVolume {
  margin-right:10px
}

.status {
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  display: flex;
  flex-wrap: nowrap;
  Color: White;
  margin-top: -4px;
  margin-left: 2px;
}

.sliderBar {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 20%;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderBar:hover {
  opacity: 1;
}

.sliderBar::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  background: rgb(146, 34, 118);
}

.sliderBar::-moz-range-track,
.sliderBar::-moz-range-progress {
  width: 100%;
  height: 6px;
  background: #cbd7ff;
}

.sliderBar::-moz-range-progress {
  background: rgb(146, 34, 118);
}

.sliderBar::-webkit-slider-thumb,
.sliderBar::-moz-range-thumb  {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 12px;
  height: 12px;
  outline: none;
  border:none;
  border-radius: 50%;
  background: rgb(10, 25, 156);
  cursor: pointer;
}

.volumeBox{
  display: flex;
  transform: rotate(270deg);
  background: rgb(10, 45, 97);
  width: 110px;
  border-radius: 10%;
  margin-top: 15px;
  margin-left:635px;
}

.setupVolume{
  position: absolute;
  top: 20%;
  left: 5%;
  width: 100px;
  background: rgb(10, 45, 97);
}

.setupVolume:hover {
  opacity: 1;
}

.setupVolume::-moz-range-track,
.setupVolume::-moz-range-progress {
  width: 90%;
  height: 6px;
  background: #cbd7ff;
}

.setupVolume::-webkit-slider-runnable-track {
  width: 90%;
  height: 6px;
  background: rgb(146, 34, 118);
}

.setupVolume::-moz-range-progress {
  background: rgb(146, 34, 118);
}

.setupVolume::-webkit-slider-thumb,
.setupVolume::-moz-range-thumb  {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 10px;
  height: 15px;
  outline: none;
  border:none;
  border-radius: 20%;
  background: rgb(10, 25, 156);
  cursor: pointer;
}